body {
    color: #333;
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 14px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
html, body, div, dl, dt, dd, ul, ol, li, th, td, p, input, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img, body, html {
    border: 0;
}
.top-bj {
    background: url(./img/top_bj.jpg) center no-repeat;
    height: 14px;
}
.top-logo {
    height: 130px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.fr {
    float: right;
}
.top-ul-yy {
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.top-ul-yy a{
    color: #1874cd;
    font-size: 12px;
}
.top-ul ul {
    margin-top: 65px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.top-ul ul li {
    float: left;
    margin-left: 20px;
    border-right: 1px solid #585858;
    padding-right: 20px;
}
.top-ul ul li a {
    font-size: 18px;
    color: #000;
}
.top-ul ul li a:hover {
    color: #e76e13;
}
.no1{
    color: #e76e13 !important;
}
.img {
    position: relative;
}
.img li img{
    width: 1230px;
    height: 400px;
    margin-left: 66px;
    position: absolute;
}
.img .point {
    position: absolute;
    bottom: -390px;
    left: 620px;
}
.point a {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    /* border: 2px #fff solid; */
    border-radius: 50%;
    background-color: #ffff;
}
.point a:hover,
.point .top-point {
    background-color: #e76e13;
}
.left-menu {
    position: relative;
    top: 415px;
    left: 63px;
}
.left-title {
    width: 155px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 16px;
}
.left-img li {
    position: relative;
    margin-bottom: 16px;
}
.left-img img {
    width: 155px;
    display: block;
}
.left-img img:hover {
    opacity: .9;
}
.left-img p,
.left-img i {
    color: #535353;
}
.left-img li p {
    font-size: 18px;
}
.left-img li i {
    font-size: 12px;
    position: absolute;
    left: 98px;
    top: 134px;
}
.left-menu a:hover {
    color: #e76e13;
}
.large-menu {
    position: relative;
    bottom: 500px;
    left: 236px;
}
.large-title {
    width: 1058px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 15px;
}
.large-menu .large-img li{
    float: left;
    margin-right: 25px;
    border: 1px solid transparent;
}
.large-menu .large-img li>a {
    display: block;
    width: 245px;
    height: 245px;
    overflow: hidden;

}
.large-menu .large-img li>a img{
    transition: .1s;
}
.large-menu .large-img li>a:hover img {
    transform:scale(1.1);
}
.large-img img {
    width: 245px;
    height: 245px;
    overflow: hidden;
}
.large-img li p {
    margin-bottom: 8px;
}
.large-img li a:hover {
    color: #e76e13;
}
.new-info .line {
    height: 14px;
    width: 1250px;
    margin-top: 370px;
    margin-left: 49px;
    background-image: repeating-linear-gradient(#fff, #e6dfdf);
}
.new-msg {
    margin: 15px 50px 0;
    position: relative;
}
.left-msg {
    position: absolute;
}
.left-msg a {
    display: block;
    background: #6b6b6b;
    float: left;
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.right-msg {
    float: right;
    margin-top: -165px;
    margin-right: 20px;
}
.right-msg a{
    background: #1a6fd9;
    color: #fff;
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    display: block;
}
.right-msg a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
}
.last-img {
    float: left;
    margin-left: 100px;
    top: -1000px;
    
}
.last-img ul:hover{
    border: #e76e13 1px solid;
}
.last-img ul:hover a{
    color: #e76e13;
}
.last-img ul {
    display: inline-block;
    width: 235px;
    height: 328px;
    border: 1px solid black;
    text-align: left;
    line-height: 20px;
}
.last-img ul p {
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 5px;
}
.last-img ul span {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
    height: 100px;
    line-height: 30px;
}
.last-img ul img {
    width: 215px;
    height: 150px;
}